{% unless site.valine_shortname %}
{% if site.valine_comment.enable %}
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
		var comment_div = $("<div id='comment'></div>");
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(comment_div[0]);
    new Valine({
        el: '#comments',
        app_id: '{{ site.valine_comment.leancloud_appid }}',   
        app_key: '{{ site.valine_comment.leancloud_appkey }}', 
        placeholder:'{{ site.valine_comment.placeholder }}'    
    });
    
</script>
{% endif %}
{% endunless %}